@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-white text-3xl absolute right-8 top-6 cursor-pointer md:hidden;
  }
  .nav-icon {
    @apply text-lg cursor-pointer;
  }

  .profile-avatar {
    @apply w-[30px] h-[30px] rounded-[50%] object-cover;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
